---
# Never do this in production
# Because in production, we never store credentials as static files
# Even if necessary, encrypt your etcd using a key
# Best case scenario
# Use AWS Secrets Manager, Azure Key Vault, or Hashicorp Vault as secrets store
# And use ESO or Vault Injector inside Kubernetes

- name: Copy K8s secrets for GoFLights
  ansible.builtin.copy:
    src: "{{ playbook_dir }}/vars/k8s-goflights-secrets.yml"
    dest: /tmp/k8s-goflights-secrets.yml
    owner: root
    group: root
    mode: '0644'

- name: Apply K8s GoFlights Secrets YAML manifests
  kubernetes.core.k8s:
    src: /tmp/k8s-goflights-secrets.yml
    state: present
    kubeconfig: "{{ kubeconfig_path }}"

- name: Copy K8s secrets for quotes-app-nodejs
  ansible.builtin.copy:
    src: "{{ playbook_dir }}/vars/k8s-quotes-app-nodejs-secrets.yml"
    dest: /tmp/k8s-quotes-app-nodejs-secrets.yml
    owner: root
    group: root
    mode: '0644'

- name: Apply K8s quotes-app-nodejs Secrets YAML manifests
  kubernetes.core.k8s:
    src: /tmp/k8s-quotes-app-nodejs-secrets.yml
    state: present
    kubeconfig: "{{ kubeconfig_path }}"

- name: Copy Docker credentials
  ansible.builtin.copy:
    src: "{{ playbook_dir }}/vars/k8s-docker-secrets.yml"
    dest: /tmp/k8s-docker-secrets.yml
    owner: root
    group: root
    mode: '0644'

- name: Apply K8s GoFlights Secrets YAML manifests
  kubernetes.core.k8s:
    src: /tmp/k8s-docker-secrets.yml
    state: present
    kubeconfig: "{{ kubeconfig_path }}"

# Check this, if not needed delete it
# Usually this is the command used to create docker credentials inside Kubernetes
# - name: Create Docker registry secrets
#   ansible.builtin.shell: |
#     kubectl create secret docker-registry docker-credentials \
#       --namespace="{{ item }}" \
#       --docker-server="{{ DOCKER_REGISTRY_SERVER }}" \
#       --docker-username="{{ DOCKER_USER }}" \
#       --docker-password="{{ DOCKER_PASSWORD }}" \
#       --docker-email="{{ DOCKER_EMAIL }}" \
#       --dry-run=client -o yaml | kubectl apply -f -
#   environment:
#     KUBECONFIG: "{{ kubeconfig_path }}"
#   loop:
#     - default
#     - ci-cd-app
#     - goflights
#     - db
