---
- name: Copy K8s secrets for GoFLights
  ansible.builtin.copy:
    src: "{{ playbook_dir }}/vars/k8s-goflights-secrets.yml"
    dest: /tmp/k8s-goflights-secrets.yml
    owner: root
    group: root
    mode: '0644'

- name: Apply K8s GoFlights Secrets YAML manifests
  kubernetes.core.k8s:
    src: /tmp/k8s-goflights-secrets.yml
    state: present
    kubeconfig: "{{ kubeconfig_path }}"

- name: Copy Docker credentials
  ansible.builtin.copy:
    src: "{{ playbook_dir }}/vars/docker-secrets.yml"
    dest: /tmp/docker-secrets.yml
    owner: root
    group: root
    mode: '0644'

- name: Apply K8s GoFlights Secrets YAML manifests
  kubernetes.core.k8s:
    src: /tmp/docker-secrets.yml
    state: present
    kubeconfig: "{{ kubeconfig_path }}"

# - name: Create Docker registry secrets
#   ansible.builtin.shell: |
#     kubectl create secret docker-registry docker-credentials \
#       --namespace="{{ item }}" \
#       --docker-server="{{ DOCKER_REGISTRY_SERVER }}" \
#       --docker-username="{{ DOCKER_USER }}" \
#       --docker-password="{{ DOCKER_PASSWORD }}" \
#       --docker-email="{{ DOCKER_EMAIL }}" \
#       --dry-run=client -o yaml | kubectl apply -f -
#   environment:
#     KUBECONFIG: "{{ kubeconfig_path }}"
#   loop:
#     - default
#     - ci-cd-app
#     - goflights
#     - db
