---
# Official documentation
# https://helm.sh/docs/intro/install

# Check this and fix warnings
# Helpers to set helm architecture
- name: Set Helm architecture dynamically
  ansible.builtin.set_fact:
    helm_arch_map:
      x86_64: amd64
      aarch64: arm64
      armv7l: arm
      armv6l: arm
      ppc64le: ppc64le
      s390x: s390x

- name: Set Helm version and architecture
  ansible.builtin.set_fact:
    helm_version: "{{ helm_version }}"
    helm_arch: "{{ helm_arch_map[ansible_architecture] }}"

- name: Debug architecture
  ansible.builtin.debug:
    msg:
    - "ansible_architecture = {{ ansible_architecture }}"
    - "helm_arch = {{ helm_arch }}"



- name: Download Helm binary archive (official endpoint)
  ansible.builtin.get_url:
    url: "https://get.helm.sh/helm-{{ helm_version }}-linux-{{ helm_arch }}.tar.gz"
    dest: /tmp/helm.tar.gz
    mode: '0644'

- name: Extract Helm archive
  ansible.builtin.unarchive:
    src: /tmp/helm.tar.gz
    dest: /tmp
    remote_src: true

- name: Install Helm binary
  ansible.builtin.copy:
    src: "/tmp/linux-{{ helm_arch }}/helm"
    dest: /usr/local/bin/helm
    owner: root
    group: root
    mode: '0755'
    remote_src: true

- name: Verify Helm installation
  ansible.builtin.command: helm version
  changed_when: false
