---
# https://helm.sh/docs/intro/install/
- name: Install prerequisites for Helm
  ansible.builtin.package:
    name:
      - apt-transport-https
      - curl
      - gpg
    state: present
    update_cache: true

- name: Download Helm GPG key
  ansible.builtin.get_url:
    url: https://baltocdn.com/helm/signing.asc
    dest: /usr/share/keyrings/helm.gpg
    mode: '0644'

- name: Add Helm apt repository
  ansible.builtin.apt_repository:
    repo: "deb [signed-by=/usr/share/keyrings/helm.gpg] https://baltocdn.com/helm/stable/debian/ all main"
    filename: helm-stable
    state: present
    update_cache: true

- name: Install Helm
  ansible.builtin.package:
    name: helm
    state: present
