---
# https://helm.sh/docs/intro/install/
- name: Install prerequisites for Helm
  ansible.builtin.package:
    name:
      - apt-transport-https
      - curl
      - gpg
    state: present
    update_cache: true

- name: Download Helm GPG key (Buildkite)
  ansible.builtin.get_url:
    url: "https://packages.buildkite.com/helm-linux/helm-debian/gpgkey"
    dest: /usr/share/keyrings/helm.gpg
    mode: "0644"

- name: Add Helm repository (Buildkite)
  ansible.builtin.apt_repository:
    repo: "deb [signed-by=/usr/share/keyrings/helm.gpg] https://packages.buildkite.com/helm-linux/helm-debian/any/ any main"
    filename: "helm-stable-debian"
    state: present

- name: Install Helm
  ansible.builtin.package:
    name: helm
    state: present
    update_cache: true
