---
- name: Common OS Configuration (kernel checks, modules, etc.)
  hosts: all
  become: true
  roles:
    - prechecks

- name: Install and Configure Container Runtime (containerd)
  hosts: all
  become: true
  roles:
    - containerd

- name: Install Tools for Kubernetes
  hosts: all
  become: true
  vars_files:
    - vars/k8s.yml
  roles:
    - k8s-install-tools

- name: Final Kubernetes Init & Node Join Setup
  hosts: all
  become: true
  vars_files:
    - vars/k8s.yml
  roles:
    - k8s-initialise-cluster
