---
- name: Install MetalLB
  hosts: masters
  become: true
  vars_files:
    - vars/k8s.yml
    - vars/metallb.yml
  roles:
    - metallb

- name: Install Traefik
  hosts: masters
  become: true
  vars_files:
    - vars/k8s.yml
  roles:
    - traefik
