---
- name: Run K8s aliases setup
  hosts: masters
  become: true
  roles:
    - k8s-aliases

- name: Install Python K8s client (on K8s Master nodes)
  hosts: masters
  become: true
  roles:
    - python-k8s-client

- name: Install Helm (on K8s Master nodes)
  hosts: masters
  become: true
  vars_files:
    - vars/helm.yml
  roles:
    - helm

