---
apiVersion: kubeadm.k8s.io/v1beta4
kind: InitConfiguration
localAPIEndpoint:
  advertiseAddress: "{{ control_plane_ip }}"
  bindPort: 6443
nodeRegistration:
  name: "{{ inventory_hostname }}"
  kubeletExtraArgs:
    - name: cloud-provider
      value: external

---
apiVersion: kubeadm.k8s.io/v1beta4
kind: ClusterConfiguration
kubernetesVersion: "{{ k8s_kubeadm_version }}"
controlPlaneEndpoint: "{{ control_plane_ip }}:6443"
networking:
  podSubnet: "10.244.0.0/16"
  serviceSubnet: "10.96.0.0/12"
  dnsDomain: "cluster.local"

apiServer:
  extraArgs:
    - name: enable-admission-plugins
      value: NodeRestriction,NamespaceLifecycle,ServiceAccount,DefaultStorageClass,ResourceQuota
    - name: audit-log-path
      value: /var/log/kubernetes/audit.log
    - name: audit-log-maxage
      value: "30"
    - name: audit-log-maxbackup
      value: "10"
    - name: audit-log-maxsize
      value: "100"

controllerManager:
  extraArgs:
    - name: node-cidr-mask-size
      value: "24"
    - name: bind-address
      value: "0.0.0.0"
    - name: configure-cloud-routes
      value: "false"

scheduler:
  extraArgs:
    - name: bind-address
      value: "0.0.0.0"

etcd:
  local:
    dataDir: /var/lib/etcd

---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
cgroupDriver: systemd
failSwapOn: true

---
apiVersion: kubeproxy.config.k8s.io/v1alpha1
kind: KubeProxyConfiguration
mode: "ipvs"
conntrack:
  maxPerCore: 32768
  min: 131072