---
apiVersion: kubeadm.k8s.io/v1beta4
kind: InitConfiguration
localAPIEndpoint:
  advertiseAddress: "{{ control_plane_ip }}"
  bindPort: 6443

nodeRegistration:
  name: "{{ inventory_hostname }}"
  kubeletExtraArgs:
    - name: cloud-provider
      value: external

---
apiVersion: kubeadm.k8s.io/v1beta4
kind: ClusterConfiguration
kubernetesVersion: "{{ k8s_kubeadm_version }}"
controlPlaneEndpoint: "{{ control_plane_ip }}:6443"

networking:
  podSubnet: "{{ k8s_pod_subnet }}"
  serviceSubnet: "{{ k8s_service_subnet }}"
  dnsDomain: "{{ k8s_dns_domain }}"

apiServer:
  extraArgs:
    - name: enable-admission-plugins
      value: NodeRestriction,NamespaceLifecycle,ServiceAccount,DefaultStorageClass,ResourceQuota
    - name: audit-log-path
      value: "{{ k8s_audit_log_path }}"
    - name: audit-log-maxage
      value: "{{ k8s_audit_log_max_age }}"
    - name: audit-log-maxbackup
      value: "{{ k8s_audit_log_max_backup }}"
    - name: audit-log-maxsize
      value: "{{ k8s_audit_log_max_size }}"

controllerManager:
  extraArgs:
    - name: node-cidr-mask-size
      value: "{{ k8s_node_cidr_mask_size }}"
    - name: bind-address
      value: "0.0.0.0"
    - name: configure-cloud-routes
      value: "false"

scheduler:
  extraArgs:
    - name: bind-address
      value: "0.0.0.0"

etcd:
  local:
    dataDir: {{ etcd_data_dir }}

---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
cgroupDriver: systemd
failSwapOn: {{ k8s_fail_swap_on }}

---
apiVersion: kubeproxy.config.k8s.io/v1alpha1
kind: KubeProxyConfiguration
mode: "ipvs"
conntrack:
  maxPerCore: 32768
  min: 131072
