---
# https://docs.ansible.com/ansible/latest/collections/kubernetes/core/k8s_module.html
- name: Clone gitops-apps repository
  ansible.builtin.git:
    repo: "{{ gitops_apps_repo_url }}"
    dest: "{{ gitops_apps_dest }}"
    version: "{{ gitops_apps_branch }}"
    force: true

- name: Create ArgoCD Application
  kubernetes.core.k8s:
    state: present
    src: "{{ gitops_apps_dest }}/{{ ci_cd_app_app_manifest }}"
    kubeconfig: "{{ kubeconfig_path }}"
