---
# This follows the official documentation provided by Kubernetes to install using kubeadm
# https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/

# Pre-req for K8s cluster initialization
- name: Set control plane IP dynamically
  ansible.builtin.set_fact:
    control_plane_ip: "{{ ansible_host }}"
  when: "'masters' in group_names"

- name: Generate kubeadm init config file from template
  ansible.builtin.template:
    src: kubeadm-config.yaml.j2
    dest: /tmp/kubeadm-config.yaml
  when: "'masters' in group_names"


# Master node K8s cluster initialization
- name: Initialize Kubernetes control-plane with kubeadm config
  ansible.builtin.command: kubeadm init --config=/tmp/kubeadm-config.yaml
  args:
    creates: /etc/kubernetes/admin.conf
  register: kubeadm_init_output
  when: "'masters' in group_names"



# Kube config setup for control plane node
- name: Copy kubeconfig setup script to control plane node
  ansible.builtin.copy:
    src: files/setup_kubectl.sh
    dest: /usr/local/bin/setup_kubectl.sh
    owner: root
    group: root
    mode: "0755"
  when: "'masters' in group_names"

# If this file already exists, skip the task
- name: Configure kubectl for the control plane node
  ansible.builtin.command: /usr/local/bin/setup_kubectl.sh
  args:
    creates: "{{ kubeconfig_path }}"
  when: "'masters' in group_names"
  become_user: "{{ ansible_user }}"



# Generate and save kubeadm join command for worker nodes
- name: Generate kubeadm join command
  ansible.builtin.command: kubeadm token create --print-join-command
  register: kubeadm_join_cmd
  changed_when: false
  when: "'masters' in group_names"

- name: Set join command as fact on master
  ansible.builtin.set_fact:
    kubeadm_join_command: "{{ kubeadm_join_cmd.stdout }}"
  when: "'masters' in group_names"

- name: Check if node already joined
  ansible.builtin.stat:
    path: /etc/kubernetes/kubelet.conf
  register: kubelet_conf
  when: "'workers' in group_names"

# Make it idempotent here
# Join worker nodes to Kubernetes cluster
- name: Join worker nodes to Kubernetes cluster
  ansible.builtin.command: "{{ hostvars[groups['masters'][0]].kubeadm_join_command }}"
  when:
  - "'workers' in group_names"
  - not kubelet_conf.stat.exists
