---
# https://docs.ansible.com/ansible/latest/collections/ansible/builtin/package_module.html#ansible-collections-ansible-builtin-package-module
- name: Install jq
  ansible.builtin.package:
    name: jq
    state: present
  become: true

# https://docs.ansible.com/ansible/latest/collections/ansible/builtin/copy_module.html#ansible-collections-ansible-builtin-copy-module
- name: Copy LTS kernel checker script to node
  ansible.builtin.copy:
    src: files/check_kernel_lts.sh
    dest: /usr/local/bin/check_kernel_lts.sh
    mode: '0755'

# https://docs.ansible.com/ansible/latest/collections/ansible/builtin/shell_module.html#ansible-collections-ansible-builtin-shell-module
- name: Run LTS kernel checker script
  ansible.builtin.shell: /usr/local/bin/check_kernel_lts.sh
  register: lts_check_output
  changed_when: false

# https://docs.ansible.com/ansible/latest/collections/ansible/builtin/fail_module.html#ansible-collections-ansible-builtin-fail-module
- name: Fail if kernel is not LTS
  ansible.builtin.fail:
    msg: "âŒ This node is not running an LTS kernel. Kubernetes installation requires LTS."
  when: "'NOT an LTS' in lts_check_output.stdout"


# https://docs.ansible.com/ansible/latest/collections/ansible/builtin/command_module.html#ansible-collections-ansible-builtin-command-module
- name: Disable swap
  ansible.builtin.shell: swapoff -a
  become: true

# sudo sed -i.bak '/\sswap\s/ s/^/#/' /etc/fstab -> This will comment
- name: Comment out swap lines in /etc/fstab
  ansible.builtin.command: sed -i.bak '/\sswap\s/ s/^/#/' /etc/fstab
  become: true

# # https://docs.ansible.com/ansible/latest/collections/ansible/builtin/lineinfile_module.html#ansible-collections-ansible-builtin-lineinfile-module
# - name: Ensure swap is disabled in /etc/fstab
#   ansible.builtin.lineinfile:
#     path: /etc/fstab
#     regexp: '^([^#].*\sswap\s.*)$'
#     state: absent
#   become: true
