---
# https://docs.ansible.com/ansible/latest/collections/kubernetes/core/k8s_module.html

# Note: Can be also installed using Helm chart

- name: Create a Namespace for ArgoCD
  kubernetes.core.k8s:
    name: argocd
    api_version: v1
    kind: Namespace
    state: present
    kubeconfig: "{{ kubeconfig_path }}"

- name: Download ArgoCD manifests
  ansible.builtin.get_url:
    url: "{{ argocd_manifests_url }}"
    dest: /tmp/argocd-install.yaml

- name: Apply ArgoCD YAML
  kubernetes.core.k8s:
    src: /tmp/argocd-install.yaml
    state: present
    namespace: argocd
    kubeconfig: "{{ kubeconfig_path }}"

- name: Wait 1 minute
  ansible.builtin.pause:
    seconds: 60




- name: Wait for all ArgoCD pods to be Running
  ansible.builtin.shell: |
    kubectl get pods -n argo-system --no-headers | awk '{print $2}' | grep -vE "^[0-9]+/[0-9]+$" && exit 1 || exit 0
  environment:
    KUBECONFIG: "{{ kubeconfig_path }}"
  register: argocd_ready
  retries: 30
  delay: 10
  until: argocd_ready.rc == 0
  when: "'masters' in group_names"
  become_user: "{{ ansible_user }}"



- name: Copy ArgoCD CLI install script
  ansible.builtin.copy:
    src: files/install-argocd-cli.sh
    dest: /tmp/install-argocd-cli.sh
    mode: "0755"

- name: Run script to install ArgoCD CLI
  ansible.builtin.command: /tmp/install-argocd-cli.sh
  register: argocd_cli_install_output
  changed_when: false



# Wait for the ArgoCD initial-admin-secret to exist
- name: Wait for ArgoCD admin secret to be created
  ansible.builtin.command: >
    kubectl -n argocd get secret argocd-initial-admin-secret
  environment:
    KUBECONFIG: "{{ kubeconfig_path }}"
  register: argocd_secret_check
  until: argocd_secret_check.rc == 0
  retries: 10
  delay: 15
  changed_when: false



# kubectl -n argocd get secret argocd-initial-admin-secret -o jsonpath="{.data.password}" | base64 -d
# argocd admin initial-password -n argocd
- name: Get ArgoCD server secret
  kubernetes.core.k8s_info:
    kind: Secret
    namespace: argocd
    name: argocd-initial-admin-secret
    kubeconfig: "{{ kubeconfig_path }}"
  register: argocd_secret

- name: Set ArgoCD admin password fact
  ansible.builtin.set_fact:
    argocd_initial_password: "{{ argocd_secret.resources[0].data.password | b64decode }}"

- name: Patch ArgoCD server to NodePort
  ansible.builtin.command: >
    kubectl patch svc argocd-server -n argocd -p '{"spec": {"type": "NodePort"}}'
  environment:
    KUBECONFIG: "{{ kubeconfig_path }}"

- name: Get ArgoCD server service
  kubernetes.core.k8s_info:
    kind: Service
    namespace: argocd
    name: argocd-server
    kubeconfig: "{{ kubeconfig_path }}"
  register: argocd_svc_info

- name: Set ArgoCD server port fact
  ansible.builtin.set_fact:
    argocd_server_port: "{{ argocd_svc_info.resources[0].spec.ports[0].nodePort }}"

- name: Get ArgoCD server pod
  kubernetes.core.k8s_info:
    kind: Pod
    namespace: argocd
    label_selectors:
      - app.kubernetes.io/name=argocd-server
    kubeconfig: "{{ kubeconfig_path }}"
  register: argocd_pod_info

# Note: argocd_server_ip can be set to the IP of any worker node
# This will dynamically set the IP of the node where the ArgoCD server pod is running
- name: Set argocd_server_ip to node where pod runs
  set_fact:
    argocd_server_ip: "{{ hostvars[argocd_pod_info.resources[0].spec.nodeName].ansible_host }}"

- name: Wait 1 minute
  ansible.builtin.pause:
    seconds: 60



# Both argocd._server_ip and argocd_server_port are set as fact using tasks in this file above
# argocd_initial_password is retrieved in tasks in this file above.
- name: Login to ArgoCD CLI
  ansible.builtin.command: >
    argocd login {{ argocd_server_ip }}:{{ argocd_server_port }}
    --username admin
    --password "{{ argocd_initial_password }}"
    --insecure --grpc-web
  register: argocd_login_output

- name: Update password for admin user
  ansible.builtin.command: >
    argocd account update-password
    --account admin
    --current-password "{{ argocd_initial_password }}"
    --new-password "{{ argocd_admin_password }}"
  register: argocd_update_password_output

# Check this in production
# Uncomment if needed to patch ArgoCD server service back to ClusterIP
# - name: Patch ArgoCD server service back to ClusterIP
#   ansible.builtin.command: >
#     kubectl patch svc argocd-server -n argocd -p '{"spec": {"type": "ClusterIP"}}'
#   environment:
#     KUBECONFIG: "{{ kubeconfig_path }}"




# Note: Can be also installed using Helm chart
- name: Download ArgoCD Image Updater manifests
  ansible.builtin.get_url:
    url: "{{ argocd_image_updater_config_url }}"
    dest: /tmp/argocd-image-updater.yaml

- name: Apply ArgoCD Image Updater manifests
  kubernetes.core.k8s:
    src: /tmp/argocd-image-updater.yaml
    state: present
    namespace: argocd
    kubeconfig: "{{ kubeconfig_path }}"

# Note: The following tasks are commented out as they are not needed for the current setup.
# They can be uncommented if you want to create a ConfigMap for ArgoCD Image Updater.
# - name: Create ArgoCD Image Updater ConfigMap
#   kubernetes.core.k8s:
#     state: present
#     kubeconfig: "{{ kubeconfig_path }}"
#     definition:
#       apiVersion: v1
#       kind: ConfigMap
#       metadata:
#         name: argocd-image-updater-cm
#         namespace: argocd
#       data:
#         config: |
#           imageUpdater:
#             repositories:
#               - name: github
#                 type: git
#                 url: "{{ github_gitops_repo_ssh_url }}"
#                 sshPrivateKeySecret: github-ssh-creds
#                 imageUpdater:
#                   enabled: true
#                   updateStrategy: latest
#                   updateMethod: latest
#                   updateInterval: 1h
#                   updateOnDeploy: true
#                   updateOnSync: true
#                   updateOnStartup: true
#                   updateOnImageChange: true
#                   updateOnImagePull: true
#                   updateOnImageTagChange: true
#                   updateOnImageDigestChange: true
#                   updateOnImageRepositoryChange: true
#                   updateOnImageRepositoryTagChange: true
#                   updateOnImageRepositoryDigestChange: true
#                   updateOnImageRepositoryTagChange: true

# Check this and try - app.kubernetes.io/name=argocd-image-updater for labels
- name: Wait for all ArgoCD pods to be Running
  ansible.builtin.shell: |
    kubectl get pods -n argo-system --no-headers | awk '{print $2}' | grep -vE "^[0-9]+/[0-9]+$" && exit 1 || exit 0
  environment:
    KUBECONFIG: "{{ kubeconfig_path }}"
  register: argocd_ready
  retries: 30
  delay: 10
  until: argocd_ready.rc == 0
  when: "'masters' in group_names"
  become_user: "{{ ansible_user }}"
