---
# Never do this in production
# Because in production, we never store credentials as static files
# Even if necessary, encrypt your etcd using a key
# Best case scenario
# Use AWS Secrets Manager, Azure Key Vault, or Hashicorp Vault as secrets store
# And use ESO or Vault Injector inside Kubernete

# https://docs.ansible.com/ansible/latest/collections/kubernetes/core/k8s_module.html
- name: Create ArgoCD HTTPS secret for pulling manifests
  kubernetes.core.k8s:
    state: present
    kubeconfig: "{{ kubeconfig_path }}"

    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: github-https-creds
        namespace: argocd
        annotations:
          argocd.argoproj.io/secret-type: repository
      type: Opaque
      stringData:
        url: "{{ github_gitops_repo_url }}"
        username: "git"
        password: "{{ github_pat }}"

- name: Create ArgoCD SSH secret for ArgoCD Image Updater push
  kubernetes.core.k8s:
    state: present
    kubeconfig: "{{ kubeconfig_path }}"
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: github-ssh-creds
        namespace: argocd
        annotations:
          argocd.argoproj.io/secret-type: repository
      type: Opaque
      stringData:
        url: "{{ github_gitops_repo_ssh_url }}"
        sshPrivateKey: "{{ github_ssh_private_key }}"
