---
# Official documentation
# https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/

# https://docs.ansible.com/ansible/latest/collections/ansible/builtin/package_module.html#ansible-collections-ansible-builtin-package-module
- name: Install jq
  ansible.builtin.package:
    name: jq
    state: present

# https://docs.ansible.com/ansible/latest/collections/ansible/builtin/copy_module.html#ansible-collections-ansible-builtin-copy-module
- name: Copy LTS kernel checker script to node
  ansible.builtin.copy:
    src: files/check_kernel_lts.sh
    dest: /usr/local/bin/check_kernel_lts.sh
    mode: '0755'

# Check if this is working
# https://docs.ansible.com/ansible/latest/collections/ansible/builtin/shell_module.html#ansible-collections-ansible-builtin-command-module
- name: Run LTS kernel checker script
  ansible.builtin.command: /usr/local/bin/check_kernel_lts.sh
  register: lts_check_output
  changed_when: false



# https://docs.ansible.com/ansible/latest/collections/ansible/builtin/command_module.html#ansible-collections-ansible-builtin-command-module
- name: Disable swap
  ansible.builtin.command: swapoff -a
  when: ansible_facts['swaptotal_mb'] | int > 0

# sudo sed -i.bak '/\sswap\s/ s/^/#/' /etc/fstab
# This will comment the swap lines
# - name: Comment out swap lines in /etc/fstab
#   ansible.builtin.shell: >
#     sed -i.bak '/\sswap\s/ s/^/#/' /etc/fstab

- name: Comment out swap entries in /etc/fstab (idempotent)
  ansible.builtin.lineinfile:
    path: /etc/fstab
    regexp: '^\s*[^#].*\sswap\s'
    line: '# \g<0>'
    state: present
    backrefs: true



- name: Load br_netfilter kernel module
  ansible.builtin.command: modprobe br_netfilter

- name: Ensure br_netfilter is loaded on every boot
  ansible.builtin.lineinfile:
    path: /etc/modules-load.d/k8s.conf
    line: br_netfilter
    create: true
    mode: '0644'


# Official documentation
# https://kubernetes.io/docs/setup/production-environment/container-runtimes/
- name: Set Kubernetes sysctl parameters
  ansible.builtin.copy:
    dest: /etc/sysctl.d/k8s.conf
    content: |
      net.bridge.bridge-nf-call-iptables  = 1
      net.bridge.bridge-nf-call-ip6tables = 1
      net.ipv4.ip_forward                 = 1
    owner: root
    group: root
    mode: '0644'
    force: true

- name: Apply sysctl settings
  ansible.builtin.command: sysctl --system
