---
# cat k8s_aliases.sh >> ~/.bashrc
# source ~/.bashrc

- name: Copy K8s aliases file
  ansible.builtin.copy:
    src: k8s_aliases.sh
    dest: /etc/profile.d/k8s_aliases.sh
    mode: "0755"

# - name: Source K8s aliases file
#   ansible.builtin.shell: |
#     echo "source /tmp/k8s_aliases.sh" >>  $HOME/.bashrc
#   args:
#     executable: /bin/bash
#   become_user: "{{ ansible_user }}"}

# Idempotency: Ensure the aliases file is sourced in .bashrc exactly once
# Because above task can add the source commands multiple times
- name: Ensure aliases file is sourced in user's .bashrc
  ansible.builtin.lineinfile:
    path: "/home/{{ ansible_user }}/.bashrc"
    regexp: 'source /etc/profile\.d/k8s_aliases\.sh'
    line: 'source /etc/profile.d/k8s_aliases.sh'
    state: present
  become: true
  become_user: "{{ ansible_user }}"
