---
# Never do this in production
# Because in production, we never store credentials as static files
# Even if necessary, encrypt your etcd using a key
# Best case scenario
# Use AWS Secrets Manager, Azure Key Vault, or Hashicorp Vault as secrets store
# And use ESO or Vault Injector inside Kubernetes

- name: Create a Namespace for Monitoring
  kubernetes.core.k8s:
    name: monitoring
    api_version: v1
    kind: Namespace
    state: present
    kubeconfig: "{{ kubeconfig_path }}"

- name: Create a Namespace for ci-cd-app
  kubernetes.core.k8s:
    name: ci-cd-app
    api_version: v1
    kind: Namespace
    state: present
    kubeconfig: "{{ kubeconfig_path }}"

- name: Copy K8s Monitoring manifests
  ansible.builtin.copy:
    src: "{{ playbook_dir }}/vars/monitoring/"
    dest: /tmp/monitoring/
    owner: root
    group: root
    mode: '0644'

- name: Find monitoring manifest files on remote host
  ansible.builtin.find:
    paths: /tmp/monitoring
    patterns: "*.yaml"
    file_type: file
  register: monitoring_manifests

- name: Apply K8s Monitoring Secrets YAML manifests
  kubernetes.core.k8s:
    state: present
    src: "{{ item.path }}"
    kubeconfig: "{{ kubeconfig_path }}"
  loop: "{{ monitoring_manifests.files }}"