---
- name: Install pre-requisites for containerd
  ansible.builtin.package:
    name:
      - ca-certificates
      - curl
      - gnupg
    state: present
    update_cache: true

# Specific to Ubuntu
# https://docs.ansible.com/ansible/latest/collections/ansible/builtin/file_module.html#ansible-collections-ansible-builtin-file-module
- name: Ensure /etc/apt/keyrings directory exists
  ansible.builtin.file:
    path: /etc/apt/keyrings
    state: directory
    mode: '0755'

# Specific to Ubuntu
# https://docs.ansible.com/ansible/latest/collections/ansible/builtin/get_url_module.html#ansible-collections-ansible-builtin-get-url-module
- name: Add Docker GPG key
  ansible.builtin.get_url:
    url: "https://download.docker.com/linux/ubuntu/gpg"
    dest: /etc/apt/keyrings/docker.asc
    mode: '0644'

# Specific to Ubuntu
# https://docs.ansible.com/ansible/latest/collections/ansible/builtin/apt_repository_module.html#ansible-collections-ansible-builtin-apt-repository-module
- name: Add containerd repository
  ansible.builtin.apt_repository:
    repo: >
      deb [arch={{ ansible_facts['architecture'] }} signed-by=/etc/apt/keyrings/docker.asc] https://download.docker.com/linux/ubuntu {{ ansible_facts['distribution_release'] }} stable
    state: present
    update_cache: true

- name: Install containerd
  ansible.builtin.package:
    name: containerd
    state: present
    update_cache: true

- name: Ensure /etc/containerd directory exists
  ansible.builtin.file:
    path: /etc/containerd
    state: directory
    mode: '0755'

# https://docs.ansible.com/ansible/latest/collections/ansible/builtin/copy_module.html#ansible-collections-ansible-builtin-copy-module
- name: Create containerd configuration file
  ansible.builtin.copy:
    src: files/containerd_config.toml
    dest: /etc/containerd/config.toml
    owner: root
    group: root
    mode: '0644'
    backup: true

# https://docs.ansible.com/ansible/latest/collections/ansible/builtin/systemd_service_module.html#ansible-collections-ansible-builtin-systemd-service-module
# Restarting the containerd service to apply the new configuration
- name: Restart and enable(start when booted) containerd service
  ansible.builtin.systemd:
    name: containerd
    enabled: true
    daemon_reload: true

# https://docs.ansible.com/ansible/latest/collections/ansible/builtin/command_module.html#ansible-collections-ansible-builtin-command-module
- name: Wait for containerd to become active
  ansible.builtin.command: systemctl is-active --quiet containerd
  register: containerd_check
  retries: 5
  delay: 2
  until: containerd_check.rc == 0
  changed_when: false

# https://docs.ansible.com/ansible/latest/collections/ansible/builtin/assert_module.html#ansible-collections-ansible-builtin-assert-module
- name: Assert containerd is active and running
  ansible.builtin.assert:
    that:
      - containerd_check.rc == 0
    fail_msg: "Containerd is not running!"
    success_msg: "Containerd is active and running."

# --------------------
# Handlers
# --------------------
- name: Restart containerd
  ansible.builtin.systemd:
    name: containerd
    state: restarted
    daemon_reload: true
